In [ ]:
import pandas as pd

In [ ]:
# import the csv files

school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

In [ ]:
# check out school_data df

school_data_df = pd.read_csv(school_data)
school_data_df.head()

In [ ]:
# check out student_data df

student_data_df = pd.read_csv(student_data) 
student_data_df.head()

In [ ]:
# merge two dfs

all_data_df = pd.merge(student_data_df, school_data_df, how="outer", on=["school_name", "school_name"])
all_data_df.head()

In [ ]:
all_data_df.shape

# Total School, Total Students, Total Budget

In [ ]:
# find out the total number of schools

total_schools = all_data_df["school_name"]
total_schools = total_schools.nunique()
total_schools

In [ ]:
# find out the total number students

total_students = all_data_df["Student ID"].nunique()
total_students

In [ ]:
# calculate the total budget

total_budget = school_data_df["budget"]
total_budget = total_budget.sum()
total_budget

# Math, Reading Scores and combined percentage

In [ ]:
# calculate the average math score

average_math_score = all_data_df["math_score"].mean()
average_math_score

In [ ]:
# calculate the average reading score

average_reading_score = all_data_df["reading_score"].mean()
average_reading_score

In [ ]:
# students scored at least 70

math_passed = all_data_df.loc[all_data_df["math_score"] >= 70, :]
math_passed.head()

In [ ]:
# calculate the percentage of student that passed

percent_math_passed =100 * math_passed.shape[0]/all_data_df.shape[0]
percent_math_passed

In [ ]:
# student that passed reading (in percent), ie students scored at least 70

reading_passed = all_data_df.loc[all_data_df["reading_score"] >= 70, :]
reading_passed.shape

In [ ]:
percent_reading_passed =100 * reading_passed.shape[0]/all_data_df.shape[0]
percent_reading_passed

In [ ]:
reading_passed.head()

In [ ]:
# total of student who passed at least one subject (math or reading)

total_percent = pd.merge(math_passed, reading_passed, how="inner", on=["Student ID" , "Student ID"])
total_percent.shape

In [ ]:
total_percent.head()

In [ ]:
# calculate the total percentage of students who passed at least one subject (math or reading)

total_percentage =100 * total_percent.shape[0]/all_data_df.shape[0]
total_percentage

In [ ]:
district_summary_df = pd.DataFrame({"Total Schools" : [total_schools],
                                   "Total Students": total_students,
                                   "Total Budget" : total_budget,
                                   "Average Math Score" : round(average_math_score,2),
                                   "Average Reading Score" : round(average_reading_score,2),
                                   " % Passing Math" : round(percent_math_passed,2),
                                   " % Passing Reading" : round(percent_reading_passed,2),
                                   "% Overall Passing" :round(total_percentage,2)}         )
district_summary_df

# School Information

In [ ]:
schools = all_data_df["school_name"].unique()
print(schools)

In [ ]:
all_data_df.head()

In [ ]:
# group by schools

groupedby_schools = all_data_df.groupby(["school_name"])

In [ ]:
# school types

type_school = groupedby_schools["type"].first()
type_school

In [ ]:
# count total students in each school

student_per_school = groupedby_schools["Student ID"].count()
student_per_school

In [ ]:
# total budget for each school

budget_per_school =groupedby_schools["budget"].first()
budget_per_school

In [ ]:
# calculate budget per student for each school

student_budget = budget_per_school/student_per_school
student_budget

In [ ]:
# average math score per school

mean_maths_school = groupedby_schools["math_score"].mean()
mean_maths_school

In [ ]:
# average reading score per school

mean_reads_school = groupedby_schools["reading_score"].mean()
mean_reads_school

In [ ]:
# Percentage of student who passed math in each school

math_passed_byschool = math_passed.groupby(["school_name"])
percent_math_passed_byschool = 100 * math_passed_byschool["Student ID"].count()/student_per_school
percent_math_passed_byschool

In [ ]:
# Percentage of student who passed reading in each school

reading_passed_byschool = reading_passed.groupby(["school_name"])
percent_reading_passed_byschool = 100 * reading_passed_byschool["Student ID"].count()/student_per_school
percent_reading_passed_byschool

In [ ]:
# Percentage of student who passed math and reading in each school

both_passed_byschool = total_percent.groupby(["school_name_x"])
total_percentage_passed_byschool = 100 * both_passed_byschool["Student ID"].count()/student_per_school
total_percentage_passed_byschool

In [ ]:
school_summary_df = pd.DataFrame({"School Types" : type_school,
                                   "Total Students": student_per_school,
                                   "Total School Budget" : budget_per_school.map("${: ,}".format),
                                   "Per Student Budget" : student_budget,
                                   "Average Math Score" : round(mean_maths_school,2),
                                   "Average Reading Score" : round(mean_reads_school),
                                   " %Passing Math" : round(percent_math_passed_byschool,2),
                                   " % Passing Reading" : round(percent_reading_passed_byschool,2),
                                   " % Overall Passing" :round(total_percentage_passed_byschool,2)}         )
school_summary_df

In [ ]:
top_performig_school_df = pd.DataFrame(school_summary_df).sort_values([" % Overall Passing"], ascending=False)[0:5]
top_performig_school_df

In [ ]:
bottom_performig_school_df = pd.DataFrame(school_summary_df).sort_values([" % Overall Passing"])[0:5]
bottom_performig_school_df

In [ ]:
#Create a table that lists the average math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

meanmath_bygrade_byschool = all_data_df.groupby(["school_name" , "grade"]).mean()
meanmath_bygrade_byschool= meanmath_bygrade_byschool["math_score"]
x = pd.DataFrame(meanmath_bygrade_byschool).reset_index()
x.pivot(index="school_name", columns="grade", values="math_score")

In [ ]:
#Create a table that lists the average reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

meanreading_bygrade_byschool = all_data_df.groupby(["school_name" , "grade"]).mean()
meanreading_bygrade_byschool= meanreading_bygrade_byschool["reading_score"]
y = pd.DataFrame(meanreading_bygrade_byschool).reset_index()
y.pivot(index="school_name", columns="grade", values="reading_score")

In [ ]:
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). 
#Use 4 reasonable bins to group school spending. Include in the table each of the following:
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing ReadingOverall 
#Passing Rate (Average of the above two)

student_budget.min()

In [ ]:
student_budget.max()

In [ ]:
spending_success_df =school_summary_df
bins=[575, 590, 615, 630, 660 ]


names =["low/$575-$590", "medium/$590-$615", "high/$615-$630", "extra/$630-$660"]
spending_success_df["Spending Ranges (Per Student)"]=pd.cut(spending_success_df["Per Student Budget"],bins, labels=names, include_lowest=True)
spending_success_df.head()

In [ ]:
spending_perstudent=spending_success_df.groupby(["Spending Ranges (Per Student)"]).mean()
spending_perstudent

In [ ]:
spending_perstudent.columns

In [ ]:
spending_perstudent[['Average Math Score',
       'Average Reading Score', ' %Passing Math', ' % Passing Reading',
       ' % Overall Passing']]

In [ ]:
#Scores by School Size

school_size_success_df = school_summary_df

bins=[400,1500, 3000, 5000 ]


names =["$400-$1500", "$1500-$3000", "$3000-$5000"]
school_size_success_df["School size"]=pd.cut(school_size_success_df["Total Students"],bins, labels=names, include_lowest=True)
school_size_success_df.head()

In [ ]:
#Scores by School size

school_size_success_df=school_size_success_df.groupby(["School size"]).mean()
school_size_success_df

In [ ]:
school_size_success_df[['Average Math Score',
       'Average Reading Score', ' %Passing Math', ' % Passing Reading',
       ' % Overall Passing']]

In [ ]:
#Scores by School type

school_type_success_df = school_summary_df
school_type_success_df=school_type_success_df.groupby(["School Types"]).mean()
school_type_success_df[['Average Math Score',
       'Average Reading Score', ' %Passing Math', ' % Passing Reading',
       ' % Overall Passing']]