In [1]:
import pandas as pd

In [2]:
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

In [3]:
school_data_df = pd.read_csv(school_data)
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
student_data_df = pd.read_csv(student_data) 
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
all_data_df = pd.merge(student_data_df, school_data_df, how="outer", on=["school_name", "school_name"])
all_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [6]:
all_data_df.shape

(39170, 11)

In [7]:
# Total School, Total Students, Total Budget

In [8]:
total_schools = all_data_df["school_name"]
total_schools = total_schools.nunique()
total_schools

15

In [9]:
total_students = all_data_df["Student ID"].nunique()

total_students

39170

In [10]:
total_budget = school_data_df["budget"]
total_budget = total_budget.sum()
total_budget

24649428

In [11]:
# Math, Reading Scores and combined percentage

In [12]:
average_math_score = all_data_df["math_score"].mean()
average_math_score

78.98537145774827

In [13]:
average_reading_score = all_data_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [14]:
# student that passed math (in percent), ie students scored at least 70

math_passed = all_data_df.loc[all_data_df["math_score"] >= 70, :]
   
math_passed.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [15]:
percent_math_passed =100 * math_passed.shape[0]/all_data_df.shape[0]
percent_math_passed

74.9808526933878

In [16]:
# student that passed reading (in percent), ie students scored at least 70

reading_passed = all_data_df.loc[all_data_df["reading_score"] >= 70, :]
   
reading_passed.shape

(33610, 11)

In [17]:
reading_passed.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [18]:
percent_reading_passed =100 * reading_passed.shape[0]/all_data_df.shape[0]
percent_reading_passed

85.80546336482001

In [19]:
reading_passed.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [20]:
total_percent = pd.merge(math_passed, reading_passed, how="inner", on=["Student ID" , "Student ID"])


total_percent.shape

#total_percentage = 100 * total_percentage.shape[0]/all_data_df.shape[0]
#total_percentage.shape()

(25528, 21)

In [21]:
total_percent.head()

,Student ID,student_name_x,gender_x,grade_x,school_name_x,reading_score_x,math_score_x,School ID_x,type_x,size_x,...,student_name_y,gender_y,grade_y,school_name_y,reading_score_y,math_score_y,School ID_y,type_y,size_y,budget_y
0,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,...,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
1,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,...,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
2,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,...,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
3,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,...,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
4,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,...,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [22]:
total_percentage =100 * total_percent.shape[0]/all_data_df.shape[0]
total_percentage

65.17232575950983

In [23]:
district_summary_df = pd.DataFrame({"Total Schools" : [total_schools],
                                   "Total Students": total_students,
                                   "Total Budget" : total_budget,
                                   "Average Math Score" : round(average_math_score,2),
                                   "Average Reading Score" : round(average_reading_score,2),
                                   " % Passing Math" : round(percent_math_passed,2),
                                   " % Passing Reading" : round(percent_reading_passed,2),
                                   "% Overall Passing" :round(total_percentage,2)}         )
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.99,81.88,74.98,85.81,65.17

In [24]:
# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math (The percentage of students that passed math.)
# % Passing Reading (The percentage of students that passed reading.)
# % Overall Passing (The percentage of students that passed math and reading.)

# School Information

In [25]:
schools = all_data_df["school_name"].unique()
print(schools)

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']

In [26]:
# group by schools
groupedby_schools = all_data_df.groupby(["school_name"])

In [27]:
# school types
type_school = groupedby_schools["type"].first()
type_school

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [28]:
# count total students in each school
student_per_school = groupedby_schools["Student ID"].count()
student_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [29]:
# total budget for each school
budget_per_school =groupedby_schools["budget"].first()
budget_per_school

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [30]:
# calculate budget per student for each school

student_budget = budget_per_school/student_per_school
student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [31]:
# average math score per school

mean_maths_school = groupedby_schools["math_score"].mean()
mean_maths_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [32]:
# average reading score per school
mean_reads_school = groupedby_schools["reading_score"].mean()
mean_reads_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [33]:
# Percentage of student who passed math in each school

math_passed_byschool = math_passed.groupby(["school_name"])
percent_math_passed_byschool = 100 * math_passed_byschool["Student ID"].count()/student_per_school
percent_math_passed_byschool

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [34]:
# Percentage of student who passed reading in each school
reading_passed_byschool = reading_passed.groupby(["school_name"])
percent_reading_passed_byschool = 100 * reading_passed_byschool["Student ID"].count()/student_per_school
percent_reading_passed_byschool

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: Student ID, dtype: float64

In [35]:
# Percentage of student who passed math and reading in each school
both_passed_byschool = total_percent.groupby(["school_name_x"])
total_percentage_passed_byschool = 100 * both_passed_byschool["Student ID"].count()/student_per_school
total_percentage_passed_byschool

school_name_x
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: Student ID, dtype: float64

In [36]:
school_summary_df = pd.DataFrame({"School Types" : type_school,
                                   "Total Students": student_per_school,
                                   "Total School Budget" : budget_per_school.map("${: ,}".format),
                                   "Per Student Budget" : student_budget,
                                   "Average Math Score" : round(mean_maths_school,2),
                                   "Average Reading Score" : round(mean_reads_school),
                                   " %Passing Math" : round(percent_math_passed_byschool,2),
                                   " % Passing Reading" : round(percent_reading_passed_byschool,2),
                                   " % Overall Passing" :round(total_percentage_passed_byschool,2)}         )
school_summary_df

,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,%Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$ 3,124,928",628.0,77.05,81.0,66.68,81.93,54.64
Cabrera High School,Charter,1858,"$ 1,081,356",582.0,83.06,84.0,94.13,97.04,91.33
Figueroa High School,District,2949,"$ 1,884,411",639.0,76.71,81.0,65.99,80.74,53.20
Ford High School,District,2739,"$ 1,763,916",644.0,77.10,81.0,68.31,79.30,54.29
Griffin High School,Charter,1468,"$ 917,500",625.0,83.35,84.0,93.39,97.14,90.60
Hernandez High School,District,4635,"$ 3,022,020",652.0,77.29,81.0,66.75,80.86,53.53
Holden High School,Charter,427,"$ 248,087",581.0,83.80,84.0,92.51,96.25,89.23
Huang High School,District,2917,"$ 1,910,635",655.0,76.63,81.0,65.68,81.32,53.51
Johnson High School,District,4761,"$ 3,094,650",650.0,77.07,81.0,66.06,81.22,53.54
Pena High School,Charter,962,"$ 585,858",609.0,83.84,84.0,94.59,95.95,90.54
Rodriguez High School,District,3999,"$ 2,547,363",637.0,76.84,81.0,66.37,80.22,52.99
Shelton High School,Charter,1761,"$ 1,056,600",600.0,83.36,84.0,93.87,95.85,89.89
Thomas High School,Charter,1635,"$ 1,043,130",638.0,83.42,84.0,93.27,97.31,90.95
Wilson High School,Charter,2283,"$ 1,319,574",578.0,83.27,84.0,93.87,96.54,90.58
Wright High School,Charter,1800,"$ 1,049,400",583.0,83.68,84.0,93.33,96.61,90.33

In [37]:
top_performig_school_df = pd.DataFrame(school_summary_df).sort_values([" % Overall Passing"], ascending=False)[0:5]
top_performig_school_df

,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,%Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$ 1,081,356",582.0,83.06,84.0,94.13,97.04,91.33
Thomas High School,Charter,1635,"$ 1,043,130",638.0,83.42,84.0,93.27,97.31,90.95
Griffin High School,Charter,1468,"$ 917,500",625.0,83.35,84.0,93.39,97.14,90.60
Wilson High School,Charter,2283,"$ 1,319,574",578.0,83.27,84.0,93.87,96.54,90.58
Pena High School,Charter,962,"$ 585,858",609.0,83.84,84.0,94.59,95.95,90.54

In [38]:
bottom_performig_school_df = pd.DataFrame(school_summary_df).sort_values([" % Overall Passing"])[0:5]
bottom_performig_school_df

,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,%Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$ 2,547,363",637.0,76.84,81.0,66.37,80.22,52.99
Figueroa High School,District,2949,"$ 1,884,411",639.0,76.71,81.0,65.99,80.74,53.20
Huang High School,District,2917,"$ 1,910,635",655.0,76.63,81.0,65.68,81.32,53.51
Hernandez High School,District,4635,"$ 3,022,020",652.0,77.29,81.0,66.75,80.86,53.53
Johnson High School,District,4761,"$ 3,094,650",650.0,77.07,81.0,66.06,81.22,53.54

In [39]:
#Create a table that lists the average math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

meanmath_bygrade_byschool = all_data_df.groupby(["school_name" , "grade"]).mean()
meanmath_bygrade_byschool= meanmath_bygrade_byschool["math_score"]
x = pd.DataFrame(meanmath_bygrade_byschool).reset_index()
x.pivot(index="school_name", columns="grade", values="math_score")

grade                       10th       11th       12th        9th
school_name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

In [40]:
#Create a table that lists the average reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

meanreading_bygrade_byschool = all_data_df.groupby(["school_name" , "grade"]).mean()
meanreading_bygrade_byschool= meanreading_bygrade_byschool["reading_score"]
y = pd.DataFrame(meanreading_bygrade_byschool).reset_index()
y.pivot(index="school_name", columns="grade", values="reading_score")

grade                       10th       11th       12th        9th
school_name
Bailey High School     80.907183  80.945643  80.912451  81.303155
Cabrera High School    84.253219  83.788382  84.287958  83.676136
Figueroa High School   81.408912  80.640339  81.384863  81.198598
Ford High School       81.262712  80.403642  80.662338  80.632653
Griffin High School    83.706897  84.288089  84.013699  83.369193
Hernandez High School  80.660147  81.396140  80.857143  80.866860
Holden High School     83.324561  83.815534  84.698795  83.677165
Huang High School      81.512386  81.417476  80.305983  81.290284
Johnson High School    80.773431  80.616027  81.227564  81.260714
Pena High School       83.612000  84.335938  84.591160  83.807273
Rodriguez High School  80.629808  80.864811  80.376426  80.993127
Shelton High School    83.441964  84.373786  82.781671  84.122642
Thomas High School     84.254157  83.585542  83.831361  83.728850
Wilson High School     84.021452  83.764608  84.317673  83.939778
Wright High School     83.812757  84.156322  84.073171  83.833333

In [41]:
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). 
#Use 4 reasonable bins to group school spending. Include in the table each of the following:
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing ReadingOverall 
#Passing Rate (Average of the above two)

student_budget.min()

578.0

In [42]:
student_budget.max()

655.0

In [43]:
spending_success_df =school_summary_df
bins=[575, 590, 615, 630, 660 ]


names =["low/$575-$590", "medium/$590-$615", "high/$615-$630", "extra/$630-$660"]
spending_success_df["Spending Ranges (Per Student)"]=pd.cut(spending_success_df["Per Student Budget"],bins, labels=names, include_lowest=True)
spending_success_df.head()

,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,%Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,"$ 3,124,928",628.0,77.05,81.0,66.68,81.93,54.64,high/$615-$630
Cabrera High School,Charter,1858,"$ 1,081,356",582.0,83.06,84.0,94.13,97.04,91.33,low/$575-$590
Figueroa High School,District,2949,"$ 1,884,411",639.0,76.71,81.0,65.99,80.74,53.20,extra/$630-$660
Ford High School,District,2739,"$ 1,763,916",644.0,77.10,81.0,68.31,79.30,54.29,extra/$630-$660
Griffin High School,Charter,1468,"$ 917,500",625.0,83.35,84.0,93.39,97.14,90.60,high/$615-$630

In [44]:
spending_perstudent=spending_success_df.groupby(["Spending Ranges (Per Student)"]).mean()
spending_perstudent

,Total Students,Per Student Budget,Average Math Score,Average Reading Score,%Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,,,
low/$575-$590,1592.000000,581.0,83.452500,84.000000,93.460000,96.610000,90.367500
medium/$590-$615,1361.500000,604.5,83.600000,84.000000,94.230000,95.900000,90.215000
high/$615-$630,3222.000000,626.5,80.200000,82.500000,80.035000,89.535000,72.620000
extra/$630-$660,3376.428571,645.0,77.865714,81.428571,70.347143,82.995714,58.858571

In [45]:
spending_perstudent.columns

Index(['Total Students', 'Per Student Budget', 'Average Math Score',
       'Average Reading Score', ' %Passing Math', ' % Passing Reading',
       ' % Overall Passing'],
      dtype='object')

In [46]:
spending_perstudent[['Average Math Score',
       'Average Reading Score', ' %Passing Math', ' % Passing Reading',
       ' % Overall Passing']]

,Average Math Score,Average Reading Score,%Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
low/$575-$590,83.452500,84.000000,93.460000,96.610000,90.367500
medium/$590-$615,83.600000,84.000000,94.230000,95.900000,90.215000
high/$615-$630,80.200000,82.500000,80.035000,89.535000,72.620000
extra/$630-$660,77.865714,81.428571,70.347143,82.995714,58.858571

In [47]:
#Scores by School Size
school_size_success_df = school_summary_df

bins=[400,1500, 3000, 5000 ]


names =["$400-$1500", "$1500-$3000", "$3000-$5000"]
school_size_success_df["School size"]=pd.cut(school_size_success_df["Total Students"],bins, labels=names, include_lowest=True)
school_size_success_df.head()

,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,%Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School size
Bailey High School,District,4976,"$ 3,124,928",628.0,77.05,81.0,66.68,81.93,54.64,high/$615-$630,$3000-$5000
Cabrera High School,Charter,1858,"$ 1,081,356",582.0,83.06,84.0,94.13,97.04,91.33,low/$575-$590,$1500-$3000
Figueroa High School,District,2949,"$ 1,884,411",639.0,76.71,81.0,65.99,80.74,53.20,extra/$630-$660,$1500-$3000
Ford High School,District,2739,"$ 1,763,916",644.0,77.10,81.0,68.31,79.30,54.29,extra/$630-$660,$1500-$3000
Griffin High School,Charter,1468,"$ 917,500",625.0,83.35,84.0,93.39,97.14,90.60,high/$615-$630,$400-$1500

In [48]:
school_size_success_df=school_size_success_df.groupby(["School size"]).mean()
school_size_success_df

,Total Students,Per Student Budget,Average Math Score,Average Reading Score,%Passing Math,% Passing Reading,% Overall Passing
School size,,,,,,,
$400-$1500,952.333333,605.000,83.663333,84.000,93.496667,96.446667,90.123333
$1500-$3000,2242.750000,614.875,80.903750,82.875,83.556250,90.588750,76.760000
$3000-$5000,4592.750000,641.750,77.062500,81.000,66.465000,81.057500,53.675000

In [49]:
school_size_success_df[['Average Math Score',
       'Average Reading Score', ' %Passing Math', ' % Passing Reading',
       ' % Overall Passing']]

,Average Math Score,Average Reading Score,%Passing Math,% Passing Reading,% Overall Passing
School size,,,,,
$400-$1500,83.663333,84.000,93.496667,96.446667,90.123333
$1500-$3000,80.903750,82.875,83.556250,90.588750,76.760000
$3000-$5000,77.062500,81.000,66.465000,81.057500,53.675000

In [50]:
#Scores by School type
school_type_success_df = school_summary_df
school_type_success_df=school_type_success_df.groupby(["School Types"]).mean()
school_type_success_df[['Average Math Score',
       'Average Reading Score', ' %Passing Math', ' % Passing Reading',
       ' % Overall Passing']]

,Average Math Score,Average Reading Score,%Passing Math,% Passing Reading,% Overall Passing
School Types,,,,,
Charter,83.472500,84.0,93.620000,96.586250,90.431250
District,76.955714,81.0,66.548571,80.798571,53.671429